@page "/toppings"
@inherits BasePage
@rendermode InteractiveServer

<PageTitle>Toppings</PageTitle>

<div style="margin-top:1em">
    <FluentBreadcrumb>
        <FluentBreadcrumbItem Href="/">
            Home
            <FluentIcon Value="@(new Icons.Regular.Size20.Home())" Color="@Color.Neutral" Slot="start" />
        </FluentBreadcrumbItem>
        <FluentBreadcrumbItem>
            Toppings
            <FluentIcon Value="@(new Icons.Regular.Size20.BowlChopsticks())" Color="@Color.Neutral" Slot="start" />
        </FluentBreadcrumbItem>
    </FluentBreadcrumb>
</div>
<div style="margin-top:1.5em">
    <h1>Toppings</h1>
</div>
<div style="margin-bottom:3em">
    <p>The best toppings in the world.</p>
</div>

@if (_toppings == null)
{
    <ProgressLoader ProgressText="Loading toppings..." Columns="4"></ProgressLoader>
}
else
{
    <div style="border-top:1px solid lightgrey;margin-bottom:3em">
        <FluentToolbar Style="margin-top:0;padding-top:0">
            <FluentButton Appearance="Appearance.Stealth" IconStart="@(new Icons.Regular.Size12.Add())" @onclick="OnAddNewToppingClick">Add a topping</FluentButton>
        </FluentToolbar>
    </div>

    <FluentDataGrid Id="saucesGrid" Items=@_toppings TGridItem=ToppingEntity>
        <TemplateColumn Title="Name" Sortable="true">
            <span @onclick=@(() => OnEditToppingClick(context)) style="font-weight:bold;text-decoration:underline;cursor:pointer">@context.Name</span>
        </TemplateColumn>
        <PropertyColumn Title="Calories" Property="@(c => c!.Calories)" Sortable="true" Align=Align.Start />
        <PropertyColumn Title="Created" Property="@(c => c!.Created)" Format="MMM dd, yyyy" Sortable="true" Align=Align.Start />
        <PropertyColumn Title="Modified" Property="@(c => c!.Modified)" Format="MMM dd, yyyy" Sortable="true" Align=Align.Start />
        <TemplateColumn Title="Action">
            <FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Title="Delete sauce"
                        Color="Color.Error" Style="cursor:pointer"
                        @onclick="@(() => OnDeleteToppingClick(context))" />
        </TemplateColumn>
    </FluentDataGrid>
}